/// @group components
/// @name portfolio-card

$name: "c-portfolio-card";

:root {
  --c-portfolio-card-border-color: var(--gray-300);

  /// Dark theme
  @media (prefers-color-scheme: dark) {
    --c-portfolio-card-border-color: var(--gray-500);
  }
}

.#{$name} {
  border: 1px solid var(--c-portfolio-card-border-color);
  border-radius: .5rem;

  &__img {
    overflow: hidden;
    border-radius: .5rem .5rem 0 0;

    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    padding: 1rem;

    &--title {
      margin: 0;
    }

  }
}
