/// @group base
/// @name layouts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 2.5rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

svg {
  width: 100%;
}
